USE [IncluirLoteDB]
GO
/****** Object:  Table [dbo].[TB_REGISTROS]    Script Date: 23/05/2024 08:35:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_REGISTROS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DATA_REFERENCIA] [varchar](50) NOT NULL,
	[CODIGO_INSTRUMENTO] [varchar](50) NOT NULL,
	[ACAO_ATUALIZACAO] [varchar](50) NOT NULL,
	[PRECO_NEGOCIO] [varchar](50) NOT NULL,
	[QUANTIDADE_NEGOCIADA] [varchar](50) NOT NULL,
	[HORA_FECHAMENTO] [varchar](50) NOT NULL,
	[CODIGO_IDENTIFICADOR_NEGOCIO] [varchar](50) NOT NULL,
	[TIPO_SESSAO_PREGAO] [varchar](50) NOT NULL,
	[DATA_NEGOCIO] [varchar](50) NOT NULL,
	[CODIGO_PARTICIPANTE_COMPRADOR] [varchar](50) NOT NULL,
	[CODIGO_PARTICIPANTE_VENDEDOR] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TB_REGISTROS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TB_REGISTROS] ADD  CONSTRAINT [DF_TB_REGISTROS_DATA_REFERENCIA]  DEFAULT ('') FOR [DATA_REFERENCIA]
GO
ALTER TABLE [dbo].[TB_REGISTROS] ADD  CONSTRAINT [DF_TB_REGISTROS_CODIGO_INSTRUMENTO]  DEFAULT ('') FOR [CODIGO_INSTRUMENTO]
GO
ALTER TABLE [dbo].[TB_REGISTROS] ADD  CONSTRAINT [DF_TB_REGISTROS_ACAO_ATUALIZACAO]  DEFAULT ('') FOR [ACAO_ATUALIZACAO]
GO
ALTER TABLE [dbo].[TB_REGISTROS] ADD  CONSTRAINT [DF_TB_REGISTROS_PRECO_NEGOCIO]  DEFAULT ('') FOR [PRECO_NEGOCIO]
GO
ALTER TABLE [dbo].[TB_REGISTROS] ADD  CONSTRAINT [DF_TB_REGISTROS_QUANTIDADE_NEGOCIADA]  DEFAULT ('') FOR [QUANTIDADE_NEGOCIADA]
GO
ALTER TABLE [dbo].[TB_REGISTROS] ADD  CONSTRAINT [DF_TB_REGISTROS_HORA_FECHAMENTO]  DEFAULT ('') FOR [HORA_FECHAMENTO]
GO
ALTER TABLE [dbo].[TB_REGISTROS] ADD  CONSTRAINT [DF_TB_REGISTROS_CODIGO_IDENTIFICADOR_NEGOCIO]  DEFAULT ('') FOR [CODIGO_IDENTIFICADOR_NEGOCIO]
GO
ALTER TABLE [dbo].[TB_REGISTROS] ADD  CONSTRAINT [DF_TB_REGISTROS_TIPO_SESSAO_PREGAO]  DEFAULT ('') FOR [TIPO_SESSAO_PREGAO]
GO
ALTER TABLE [dbo].[TB_REGISTROS] ADD  CONSTRAINT [DF_TB_REGISTROS_DATA_NEGOCIO]  DEFAULT ('') FOR [DATA_NEGOCIO]
GO
ALTER TABLE [dbo].[TB_REGISTROS] ADD  CONSTRAINT [DF_TB_REGISTROS_CODIGO_PARTICIPANTE_COMPRADOR]  DEFAULT ('') FOR [CODIGO_PARTICIPANTE_COMPRADOR]
GO
ALTER TABLE [dbo].[TB_REGISTROS] ADD  CONSTRAINT [DF_TB_REGISTROS_CODIGO_PARTICIPANTE_VENDEDOR]  DEFAULT ('') FOR [CODIGO_PARTICIPANTE_VENDEDOR]
GO
